@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul,ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header{
  display: flex;
  justify-content: flex-start;
  
}

a{
  color: gray;
  text-decoration: none;
}

.buttons{
  margin-top: 10px;
}

button{
  padding: 8px;
}

.header .left-links{
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: auto;
}

.header .right-links{
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
}

.content{
  display: flex;
  align-self: center;
  flex-flow: column;
  flex:1;
  align-items: center;
  justify-content: center;
}

.footer{
  display: flex;
  justify-content: flex-end;
  background-color: #eeeeee;
  padding: 8px;
}

.footer .left-links{
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-right: auto;
}

.footer .right-links{
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: 10px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
