.odd{
    background-color: rgb(226 66, 188);
    font-family: Verdana, DejaVu sans, sans-serif;
}

#second{
    color: rgb(7 79 247);
    font-size: 36px;
}

#third{
    font-size: 24px;
    font-weight: bold;
}

#fourth{
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(76 247 2) ;
}