body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background: darkmagenta;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
  color: white;
}


.mid-design{
  display: flex;
  flex:1;
}

ul,ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

.lnks{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap:8px;
  flex:0;
}

.content{
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  gap:10px;
  margin-right: auto;
  margin-left: 10px;
}

.card{
  display: flex;
  padding: 4px;
  margin: 10px;
  width: 250px;
}

.footer {
  height: 50px;
  display: flex;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 10px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}