body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 0 auto;
  padding: 8px;
  font-size: 15px;
}

.title {
  padding: 10px;
  margin:10px;
  background: #e3f4ff;
}

.content {
  padding: 16px 8px;
  margin:10px;
  background: #e3f4ff;
}

.button-container {
  text-align: center;
  padding: 10px;
  margin:10px;
  background: #e3f4ff;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background: white;
  border: 1px solid #eee;
}